<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<h1>All Books</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Public year</th>
        <th>Author id</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bookEntitie : ${allBookEntities}">
        <td th:text="${bookEntitie.getId()}"></td>
        <td th:text="${bookEntitie.getTitle()}"></td>
        <td th:text="${bookEntitie.getPublic_year()}"></td>
        <td th:text="${bookEntitie.getAuthorEntity().getId()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
